body, td, th, input, select, textarea {
	font:13px Arial, Tahoma;
}
body{
	margin:0;
	padding:0;
	line-height: 1.4em;
	color: #333;
}
a{
	text-decoration:none;
	color:#666;
}
#sidebar1 .nav-left .active a,
a:hover{
	color: #ff6394;
}
div, h1, h2, h3, h4, h5, h6, img, form, table, tr, th, td, dl, dt, dd {
	margin:0;
	padding:0;
	border: 0;
}
p {
  margin: 1em 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* fixed IE images scaling */
}
table {
	width: 100%;
	empty-cells: show;
	border-spacing: 0;
}
h1 {
  line-height:1.4em;
}
h2 {
  line-height:1.3em;  
}
h3 {
  line-height:1.2em;  
}
h4{
  line-height:1.1em;  
}
h5{
  line-height:1.05em;  
}
h6{
  line-height:1.05em;  
}
.topic1 {
	font-size: 1.2em;
	font-weight: bold;
	color: #ff6394;
}
.topic2 {
	font-weight: bold;
	padding-bottom: 0.5em;
/*	color: #ff1d42;
	color: #73c0dc;*/
	font-family: arial;
	font-size: 1.1em;
}
.topic3 {
	font-family: tahoma;
	font-size: 110%;
	font-weight: bold;
	color: #00a3b4;
	padding: 0.5em 0.5em 0.5em 0;
	margin-bottom: 0.5em;
}

ul, ol {
	margin: 0.5em 0 0.5em 1em;
	padding: 0 0 0 1em;
}
li {
	margin: 0.2em 0 0.2em 0;
}
small {
  font-size: 0.9em;
  font-weight: normal;
}
hr {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
}
.clear {
	clear:both;
	line-height:0;
	height:0;
}
.fr { float: right }
.fl { float: left }
.r { text-align: right }
.b { font-weight: bold }
.hint { color: #777; }
.breadcrumb,
.breadcrumb a {
  font-size: 0.9em;
  color: #888;
  margin: 1.2em 0;
}
.breadcrumb {
  word-spacing: 0.3em;
}
.breadcrumb a:hover {
  color: #666;
  text-decoration: none;
}

/*------------------ form ------------------*/
form fieldset,
form .checkbox,
form .select {
	margin: 0;
	padding: 0;
  border: 0;
}
form fieldset {
  margin: 0 0 10px 0;
  padding: 5px;
}
form .box {
  background-color: #f9f9f9;
  border: 2px solid #efefef;
}
form .text,
form .textarea,
form .select {
	border: 1px solid #d7d7d7;
  width: 100%;
}
form dl .optional {
  color: #757575;
}
form dt {
  padding: 4px;
  font-weight: bold;
}
form dd {
	padding: 4px 7px 4px 4px;
}
form legend,
form h2 {
  margin: 0;
  padding: 0.5em 0;
  text-indent: 0.5em;
	font-weight: bold;
	/*color: #004993;*/
  color: #333;
	font-size: 1.1em;
  background-color: #f1f1f1;
  width: 100%;
}
form .error {
	background-color: #ffe4ea;
}
form .single,
form .double,
form .triple,
form .quadruple {
  float: left;
	width: 25%;
	margin: 5px 0;
}
form .double {
  width: 50%;
}
form .triple {
  width: 75%;
}
form .quadruple {
  width: 100%;
}
form .mce_page,
form .mce_comment,
form .mce_description {
  border: 0;
}
/* .note places same line with input
  .hint places below input */
form .note,
form .hint {
  font-size: 90%;
  color: #888;
  font-weight: normal;
  padding-top: 0.5em;
}
form .hint {
  padding: 0;
}
form .submit {
  padding: 7px;
  margin: 10px 0 0 0;
}
form .submit .button {
  padding: 3px 12px;
  background-color:#fff;
  color: #000;
  border: 1px solid #ccc;
}
form p {
  line-height: 2.2em;
}
form .hint_area {
  border:2px solid #f1f1f1;
  background-color: #f8f8f8;
  color: #666;
}

/*------------------ form response ------------------*/
#response {
}
#response ul,
#response li {
	padding: 0;
	margin: 0;
  list-style: none;
}
#response .fatal,
#response .success {
	padding: 1em;
  margin: 0 0 10px 0;
}
#response .fatal {
	/*color: #fff;
	background-color: #92224b;*/

	color: #a00029;
  border-top: 1px solid #faafb5;
  border-bottom: 1px solid #faafb5;
  background-color: #ffeff3;
}
#response .fatal ul {
	padding: 0.5em 14px 0 14px;
	margin: 0;
}
#response .fatal li {
	padding: 0.3em 0;
	list-style: disc;
}
#response .fatal dt,
#response .fatal dd {
  padding-left: 20px;
}
#response .fatal dt {
	background: url('exclamation.png') no-repeat center left;
}
#response .success {
	color: #4d7c09;
  border-top: 1px solid #ceef9e;
  border-bottom: 1px solid #ceef9e;
  background-color: #e9fad0;
}
#response .success dt {
  padding-left: 20px;
	background: url('tick.png') no-repeat center left;
}
#response .warning {
	color: #fff;
	background-color: #92224b;
}

/*------------------ curved ------------------*/
.curved,
.small_curved,
.small_curved_top,
.medium_curved,
.button {
  border: 0 solid #fff;
}
.curved {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -border-radius: 10px;
  border-radius: 10px;
}
.small_curved {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -border-radius: 5px;
  border-radius: 5px;
}
.small_curved_top {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-topright: 5px;
  -border-radius-topleft: 5px;
  -border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.medium_curved {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -border-radius: 8px;
  border-radius: 8px;
}

/*------------------ sprites ------------------*/
.icons {
  background: url('icons.png') no-repeat;
}
.widgets {
  background: url('widgets.png') no-repeat;
}

/*------------------ layout ------------------*/
#header_wrapper .header,
#content_wrapper .content,
#footer_wrapper .footer {
  margin: 0 auto;
  width: 1000px;
}
#header_wrapper,
#footer_wrapper {
  background: url('wrapper.png') no-repeat;
}
#header_wrapper {
  background-position: top center;
  height: 137px;
}
#header_wrapper .logo_wrapper {
  float: left;
  margin: 42px 0 0 99px;
}
#header_wrapper .logo_wrapper a {
  text-decoration: none;
}
#header_wrapper .logo_wrapper .logo {
  display: block;
  width: 223px;
  height: 52px;
  overflow: hidden;
  text-align: center;
}
#header_wrapper .logo_wrapper .logo span,
#header_wrapper .logo_wrapper .logo span a:hover {
  color: #f24179;
  font-size: 1.6em;
  margin: 0.5em 0 0 0;
  font-weight: bold;
  display: block;
}
#header_wrapper .logo_wrapper .logo small,
#header_wrapper .logo_wrapper .logo small a:hover{
  font-size: 0.85em;
  color: #666;
}

#header_wrapper .nav_wrapper {
  float: left;
  margin: 0 0 0 10px;
  height: 130px;
  width: 550px;
}
#header_wrapper .nav_wrapper .links {
  width: 81px;
  height: 34px;
  float: right;
  margin: 0 0 60px 0;
}
#header_wrapper .nav_wrapper .links .twitter {
  background-position: 0 0;
  width: 39px;
  height: 29px;
  float: right;
}
#header_wrapper .nav_wrapper .links .facebook {
  background-position: -39px 0;
  width: 42px;
  height: 29px;
  float: right;
}
#header_wrapper .nav_wrapper .nav {
  clear: both;
  /*text-align: center;*/
}
#header_wrapper .nav_wrapper .nav a {
  text-decoration: none;
  color: #ea447d;
  font-size: 1.1em;
  line-height: 1.8em;
}
#header_wrapper .nav_wrapper .nav a:hover {
  color: #6a421b;
}
#header_wrapper .nav_wrapper .nav span {
  border: 1px dashed #ccc;
  background-color: #fff;
  padding: 4px 6px;
  margin: 0 5px;
}

#content_wrapper {
  background: url('content_wrapper_bg.png') repeat-y top center;
}
#content_wrapper .container {
  background: url('content_wrapper_shadow.png') no-repeat top center;
}

#sidebar1 {
  float: left;
  margin: 0 2px 0 117px;
}
#sidebar1 .sidebar_wrapper {
  width: 190px;
  overflow: hidden;
}
#sidebar1 .sidebar {
  text-align: center;
}
#sidebar1 .sidebar ul,
#sidebar1 .sidebar li {
  padding: 0;
  margin: 0;
}
#sidebar1 .sidebar li {
	margin:10px 0;
}
#sidebar1 .account_wrapper {
  margin: 0 0 10px 0;
}
#sidebar1 .account_wrapper h4,
#sidebar1 .account_wrapper .account,
#sidebar1 .account_wrapper .footer {
  background: url('account_wrapper.png') no-repeat;
  width: 190px;
  margin: 0;
  display: block;
  min-height: 34px;
}
#sidebar1 .account_wrapper h4 {
  font-size: 14px;
  color: #888;
  padding: 30px 0 0 0;
  text-align: center;
}
#sidebar1 .account_wrapper .account {
  background: url('account_bg.png') repeat-y;
}
#sidebar1 .account_wrapper .footer {
  background-position: 0 -130px;
  height: 30px;
}
#sidebar1 .account_wrapper fieldset {
  display: block;
  padding: 0 32px 10px 28px;
  margin: 0;
  font-size: 0.9em;
}
#sidebar1 .account_wrapper fieldset a {
  margin: 0;
  color: #6a421b;
}
#sidebar1 .account_wrapper fieldset a:hover{
  text-decoration: none;
  color: #ff548a;
}
#sidebar1 .account_wrapper fieldset .text {
  margin: 2px 0;
  color: #888;
}
#sidebar1 .account_wrapper .button {
  margin: 5px 2px 0 0;
  padding: 0.2em 1em;
  background-color: #ff548a;
  border: 1px solid #df2e66;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}
#sidebar1 .account ul {
  margin: 0 0;
  padding: 10px 30px;
}
#sidebar1 .account li {
  margin: 0;
  padding: 0 0 0 16px;
  list-style: none;
  background: url('bullet.png') no-repeat left center;
  color: #666;
  text-align: left;
}
#sidebar1 .widgets {
  display: block;
  margin: 5px 12px;
}
#sidebar1 .signup {
  background-position: 0 0;
  height: 85px;
}
#sidebar1 .stat {
  background-position: 0 -90px;
  height: 118px;
  font-size: 0.9em;
}
#sidebar1 .stat dl {
  padding: 30px 0 0 0;
}
#sidebar1 .stat dt,
#sidebar1 .stat dd {
  line-height: 1.3em;
}
#sidebar1 .stat dt {
  width: 67px;
  float: left;
  text-align: right;
  margin: 0 8px;
}
#sidebar1 .stat dd {
  float: left;
  text-align: right;
}
#sidebar1 .tracking {
  background-position: 0 -210px;
  height: 110px;
}

#sidebar1 .category_wrapper {
  margin: 10px 0;
  text-align: left;
}
#sidebar1 .category_wrapper .inner {
  margin: 0 30px;
}
#sidebar1 .category_wrapper h4,
#sidebar1 .category_wrapper .category,
#sidebar1 .category_wrapper .footer {
  background: url('category_wrapper.png') no-repeat;
  width: 190px;
  margin: 0;
  display: block;
  min-height: 25px;
}
#sidebar1 .category_wrapper h4 {
  font-size: 14px;
  color: #ff5087;
  padding: 40px 0 0 0;
  text-align: center;
}
#sidebar1 .category_wrapper h5 {
  font-size: 12px;
  color: #fff;
  text-align: center;
  border: 1px solid #df2e66;
  background-color: #ff6896;
  display: block;
  padding: 0;
  margin: 20px 0 0 0;
}
#sidebar1 .category_wrapper .category {
  background: url('category_bg.png') repeat-y;
}
#sidebar1 .category_wrapper .footer {
  background-position: 0 -130px;
  height: 28px;
}
#sidebar1 .category_wrapper fieldset {
  margin: 0;
  padding: 0;
}
#sidebar1 .category_wrapper fieldset input,
#sidebar1 .category_wrapper fieldset select {
  color: #888;
  padding: 0;
  margin: 5px 0;
}
#sidebar1 .category_wrapper fieldset select {
  color: #6a421b;
}
#sidebar1 .category_wrapper fieldset .text {
  background: url('magnifier.png') #fff no-repeat center left;
  padding-left: 16px;
  width: 112px;
}
#sidebar1 .category ul,
#sidebar1 .category li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar1 .category ul {
  margin: 5px 0 0 0;
}
#sidebar1 .category li {
  border-bottom: 1px dashed #fff;
  margin: 0;
}
#sidebar1 .category li a {
  padding: 0.2em 0;
  display: block;
  color: #6a421b;
}
#sidebar1 .category li a:hover {
  color: #df2e66;
  text-decoration: none;
}
#sidebar1 .banner_wrapper ul ,
#sidebar1 .banner_wrapper ul li {
	padding:0;
	margin:0;
	list-style:none;
}
#sidebar1 .banner_wrapper ul{
	width:190px;
	overflow:hidden;
}
#sidebar1 .banner_wrapper ul li {
	text-align:center;
	overflow: hidden;
	display:block;
	padding:0 0 0 2px;
	margin: 15px 0;
}
#main_wrapper {
  min-height: 640px;
  float: left;
  width: 576px;
}

#main .highlight_wrapper {
  background: url('highlight.png') no-repeat top center;
  width: 560px;
  height: 236px;
  margin: 20px 0 0 0;
  padding: 0;
}
.highlight{
  padding: 38px 0 0 37px;
  width: 510px;
  height: 180px;	
}
#highlight,
#highlight li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#highlight {
  height: 218px;
  overflow: hidden;
}
#highlight li {
  overflow: hidden;
}
#highlight li span{
	display: block;
  width: 510px;
  height: 180px;	
  overflow: hidden;
}
.bx-pager{
	position:absolute;
	bottom:30px;
	right:20px;
	width:200px;
	height:25px;
	text-align:right;
}
.bx-pager a{
	color:#111;
	background-color:#fff;
	margin:0 0 0 5px;
	padding:1px 6px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -border-radius: 30px;
  border-radius: 30px;
	font-size:0.85em;
}
.bx-pager a:hover{
	color:#fff;
	background-color:#111;
}
#main {
  min-height: 325px;
  padding-bottom: 20px;
}
#main .topic1 {
  padding: 15px 45px 15px 45px;
}
#main .page {
  background: url('head_bg.png') no-repeat top center;
  min-height: 93px;
}
#main .padding {
  margin: 20px 25px;
}
#main .social {
  margin: 10px 0;
}

#sidebar2 {
  float: left;
  width: 115px;
}
#sidebar2 .cart_status {
  background-position: 0 -420px;
  width: 115px;
  height: 121px;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
#sidebar2 .cart_status span {
  display: block;
  padding: 45px 0 0 12px;
}

#footer_wrapper {
  clear: both;
  background-position: bottom center;
  height: 365px;
}
#footer_wrapper .footer {
  width: 854px;
  padding: 40px 0 0 0;
}
#footer_wrapper .dbd {
  margin: 0 0 0 58px;
  text-align: center;
  width: 164px;
  float: left;
  overflow: hidden;
  background-position: 0 -320px;
  height: 94px;
}
#footer_wrapper .dbd span {
  margin: 10px;
  display: block;
}
#footer_wrapper .contact,
#footer_wrapper .welcome {
  display: block;
  float: right;
  margin: 48px 377px 0 0;
  width: 128px;
  height: 38px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  color: #ff6394;
}
#footer_wrapper .contact {
  background: url('phone.png') no-repeat left center;
  padding: 0 0 0 45px;
}
#footer_wrapper .welcome {
  text-align: center;
  width: 173px;
}

#footer {
  margin: 145px 0 0 0;
}
#footer .nav a {
  margin: 0 3em 0 0;
  font-weight: bold;
}
#footer .nav a:hover {
  color: #6a421b;
  text-decoration: none;
}
#footer .copyright {
  margin: 1em 0;
  font-size: 0.9em;
}
#footer .copyright,
#footer .copyright a {
  text-decoration: none;
  color: #666;
}
#footer .copyright a:hover {
  color: #333;
}

/*------------------ cart ------------------*/
#cart .items,
#cart .items tr,
#cart .items th,
#cart .items td {
  margin: 0;
  padding: 0;
}
#cart .items th,
#cart .items td {
  padding: 6px 3px;
  border-bottom: solid 1px #e8e8e8;
}
#cart tr .image {
  width: 50px;
}
#cart tr .image div {
  height: 50px;
  background: url('blank.png') no-repeat center center #fff;
}
#cart tr .title {
}
#cart tr .quantity {
  width: 110px;
  text-align: right;
  color: #927a5c;
  font-size: 90%;
  padding-right: 10px;
}
#cart tr .quantity input {
  width: 30px;
}
#cart tr .line_price {
  width: 80px;
  text-align: right;
}
#cart tr .remove {
  text-align: center;
  width: 60px;
}
#cart .summary {
  padding: 1em;
  background-color: #f4f4f4;
  font-size: 1.2em;
  margin: 10px 0;
}
#cart .summary .total_price {
  color: #ff1d42;
  font-weight: bold;
}
#cart .submit_button,
#cart .update_button {
  background: url('cart.png') no-repeat 0 -25px;
  width: 85px;
  height: 25px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#cart .update_button {
  background-position: 0 -50px;
}

/*------------------ pagination ------------------*/
#pagination {
	line-height:2em;
	clear: both;
	padding: 1em 0 2em 0;
	color: #737373;
}
#pagination .total {
	float: left;
	text-align: left;
	padding-right: 15px;
	color: #df2e66;
}
#pagination .pages {
	float: left;
	text-align: left;
	word-spacing: 0.5em;
}
#pagination .current,
#pagination a {
  padding: 0.2em 0.5em;
  border: 1px solid #ffdae5;
}
#pagination .current {
  background-color: #ffdae5;
  border: 1px solid #ffbacf;
  color: #df2e66;
}
#pagination a {
	color: #7094db;
	text-decoration: none;
  background-color: #fff;
}
#pagination a:hover {
  color: #df2e66;
}
#pagination .disabled {
	color: #999;
}


/*------------------ blog ------------------*/
#blog {
}
#blog ul,
#blog li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#blog li {
  padding: 1em 0;
  border-bottom: 1px dotted #ccc;
}
#blog .author,
#article .author {
  padding-bottom: 1.5em;
  color: #888;
  font-size: 0.9em;
}

/*------------------ page ------------------*/
#page a,
#article a{
	color: #00aeef;
}
#page a:hover,
#article a:hover {
	text-decoration:underline;
}

/*------------------ listing ------------------*/
.listing ul,
.listing li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.listing p {
  margin: 0.2em 0 0 0;
}
.listing th {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
  color: #777;
	border-top: solid 1px #e9e9e9;
  border-bottom: solid 1px #e9e9e9;
}
.listing td {
	border-bottom: solid 1px #e9e9e9;
	padding: 0.5em;
}
.listing th,
.listing td {
	line-height: 1.5em;
	vertical-align: top;
}
.listing .middle,
.listing .middle td {
  vertical-align: middle;
}
.listing .even {
	background-color: #f5f5f5;
}
.listing .odd {
}
.listing tr .empty {
  border: 0;
}
.listing .hidden td {
	color: #8d8d8d;
}

.listing .badges {
  padding: 0;
  margin: 0;
  list-style: none;
}
.listing .badges .featured {
  background: url('star.png') no-repeat center right;
  width: 24px;
  float: left;
}

/*------------------ discussions ------------------*/
#discussions .listing .count,
#discussion .listing .date {
  width: 100px;
}
#discussion .listing .count,
#discussion .listing .state {
  width: 80px;
}
#discussion .listing .badge {
  width: 24px;
}

#discussion p {
  margin: 1em 0 0 0;
}
#discussion .original_post {
  margin: 0 0 20px 0;
}
#discussion .original_post .body {
  width:100%;
  overflow: auto;
}

.comment_form {
  padding: 10px;
  background-color: #eee;
}
.comment_form a{
	color: #00aeef;
}

/*------------------ comments ------------------*/
.comment {
}
.comment p {
  margin: 0 0 1em 0;
}
#comments {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comments li {
  background: #eee;
  margin: 0.8em;
  padding: 0.5em;
}
#comments li .number {
  font-weight: bold;
}
#comments .hidden,
#comments .hidden a{
  color: #999;
}
#comments .avatar {
  float: left;
  width: 42px;
}
#comments .body {
  padding-left: 42px;
  width: 90%;
  overflow: auto;
}

/*------------------ product ------------------*/
#product{
  overflow:auto;
  padding:48px 0 0 0;
}
#product .topic1{
  float:right;
  text-align:left;
  line-height:1.3em;
  width:340px;
  overflow:hidden;
  padding:0 0 20px 0;
  margin:0;
}
#product p {
  padding: 0.5em 0;
}
#product a{
	text-decoration:none;
	font-weight: normal;
	color:#604c38;
}
#product a:hover{
	text-decoration:underline;
}
#product h1 {
	text-align: left;
}
#product .featured_image {
  float:left;
}
#product .details {
	float: right;
	width: 340px;
}
#product .details th,
#product .details td {
  line-height: 1.5em;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5em 0;
}
#product .details th {
  font-weight: bold;
  width: 100px;
  clear: both;
  padding-right: 1em;
  text-align: left;
  vertical-align: top;
}
#product .details td {
}
#product .details form {
  margin: 0 0 20px 0;
}
#product .details p{
  margin: 0.5em 0 0.5em 0;
}
#product .details .variants,
#product .details .variants li,
#product .details .variants input {
  padding: 0;
  margin: 0;
}
#product .details .variants li {
  list-style: none;
  /*line-height: 2em;*/
  padding-bottom: 0.5em;
}
#product .details .quantity{
  float: left;
  padding-right: 10px;
}
#product .details .quantity input {
  width: 30px;
}
#product .featured_image a{
	display:block;
}
#product .featured_image span {
  width: 160px;
  height: 160px;
	background: #fff no-repeat center center;
	border:1px solid #eaeaea;
	display: block;
}
#product .all{
  padding:0;
  margin: 20px 0;
}
#product .all ul,
#product .all li{
  list-style:none;
  padding:0;
  margin:0;
}
#product .all li{
  text-align:center;
  margin: 0 0 20px 0;
}
#product .textbox {
	font-size: 90%;
}
#product .price {
/*	color: #ff6b83;*/
/* color: #cb6ec5;*/
}
#product .compare_at_price  {
	text-decoration: line-through;
}
#product .description {
	overflow: hidden;
  margin: 20px 0 0 0;
}
#product .related {
}
#product .related ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#product .related li {
	float:left;
	font-weight:bold;
	color: #ff6b83;
	text-align: center;
	width: 120px;
	height: 160px;
	padding: 0 10px 10px 0;
}
#product .related li .image {
	height: 90px;
}
#product .related li .price {
	color:#539bb4;
	font-weight:bold;
}
#product .extra_images {
	padding: 0 0 10px 0;
  width:171px;  
}
#product .extra_images ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#product .extra_images li {
  display:inline:
}
#product .extra_images li div {
	float: left;
	text-align: left;
	width: 50px;
	height: 50px;
	background: url('blank.png') no-repeat center center #fff;
  margin: 5px 3px 5px 0;
  border: 1px solid #eaeaea;
}
#product .extra_images .last div {
  margin: 5px 0px 5px 0;
}
#product .buy {
  float: left;
}
#product .buy .add_button {
  background: url('cart.png') no-repeat;
  width: 85px;
  height: 25px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/*------------------ collection ------------------*/
#collection .breadcrumb,
#collection .breadcrumb a{
	font-size: 0.9em;
	margin: 0.5em 0;
}
#collection .breadcrumb{
	padding:0px;
}
#collection .subcategory{
	padding:0;
	margin:10px 0 0 0;
}
#collection .subcategory a{
	display:inline-block;	
	padding:3px 5px;
	margin:0 5px 10px 0;
}
#collection .subcategory a:hover{
}
#collection ul,
#collection li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#collection .grid li {
  float: left;
  width: 115px;
  height: 170px;
  margin: 0 15px 15px 0;
	position:relative;	
}
#collection .grid li .soldout{
		width: 127px;
		height: 90px;
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		background: url('soldout.png') no-repeat left top;
}
#collection .image {
  height: 115px;
  overflow: hidden;
  background: url('blank.png') no-repeat center center #fff;
  margin: 0 0 5px 0;
  border: 1px solid #eaeaea;
  display: block;
}
#collection .title {
  height: 22px;
  overflow: hidden;
  line-height: 1.5em;
  margin: 0 0 4px 0;
}
#collection .price {
  color: #df2e66;
  font-weight: bold;
  float: left;
}
#collection .buy {
  float: right;
}
#collection .buy .add_button {
  background: url('cart.png') no-repeat 0 -75px;
  width: 22px;
  height: 18px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#collection .tags {
  margin: 0 0 20px 0;
  border: 1px dashed #ccc;
  background: #f8f8f8;
  max-height: 150px;
  overflow: auto;
}
#collection .tags a {
  margin: 0.2em;
  line-height: 2.5em;
  padding: 6px;
  text-decoration: none;
  color: #7094db;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -border-radius: 5px;
  border-radius: 5px;
}
#collection .tags a:hover {
  background: #ff6394;
  color: #fff;
}

/*------------------ frontpage ------------------*/
#frontpage .posts ul,
#frontpage .posts li {
  padding: 0;
  margin: 0;
}
#frontpage .posts ul {
  margin: 0 0.5em;
}
#frontpage .posts li {
  height: 20px;
  width: 235px;
  overflow: hidden;
  margin: 0.2em 0;
  padding: 0 0 0 18px;
  background: url('bullet.png') no-repeat left center;
}
#frontpage .posts {
  margin: 4px;
}
#frontpage .topic2,
#frontpage .topic2 a {
  color: #ec5d7a;
  text-decoration: none;
}
#frontpage .topic2 a:hover{
  color: #90cfe0;
  text-decoration: none;
}
#frontpage .topic2 {
  padding: 0.5em;
  margin: 0;
  background-color: #fff;
  border: 1px dotted #ccc;
}
#frontpage .padding{
	overflow:auto;
}
#article .padding,
#page .padding{
	overflow:auto;
}